body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E3DE61;
  color:#2f5249;

}

.topbar{
  background-color: #2f5249;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

}

.logo{
  font-size: 24px;
  margin:0;
}

span{
  font-size: 35px;
  color:rgb(58, 204, 170)
}

nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding:0;

}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover{
  text-decoration: underline;
  color: rgb(43, 131, 131);
}

.banner{
  position:relative;
  max-width: 100%;

}

.banner img{
  width: 100%;
  height:auto
}

.banner-text{
  position:absolute;
  top:25%;
  left:10%;
  background-color: rgba(47,82,73,0.8);
  color:white;
  padding: 20px;
  max-width:45%;
  border-radius: 10px;
}

.content-box{
  margin:30px auto;
  max-width: 1000px;
  background: linear-gradient(to bottom,#f4fad2,#e3de61);
  border: 3px solid #437057;
  border-radius: 12px;
  padding:30px;
  box-sizing:border-box;
}

.content-box h2{
  color:#437057;

}

ul,ol{
  margin-left: 20px;
}

table{
  border-collapse: collapse
  width:100%;
  margin-top:20px;
  background-color:white;
}

table, th, td{
  border: 1px solid #97b067;
}

th,td{
  padding: 10px;
  text-align: left;
}

form input, form select, form button{
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #437057;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

form button{
  background-color: #437057;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background-color: #2f5249;
  transform: scale(1.03);
}

footer{
  background-color: #437057;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top:30px;

}

@media screen and (max-width:768px){
  .topbar{
    flex-direction: column;
    aign-items: flex-start

  }

  nav ul{
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
  }

  .banner-text{
    max-width: 90%;
    left:5%;
    top:10%;
  }

  .content-box{
    margin:15px;
    padding:20px;
  }

  table, th, td{
    font-size: 14px
  }
}
